html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 100%;

    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

@font-face {
    font-family: "TT Lakes";
    src: url('./font/TTLakes-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url('./font/TTLakes-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url('./font/TTLakes-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 0 24px;

}

.header__right {
    display: flex;
    align-items: center;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: 0;
    padding: 0 0;
    cursor: pointer;

    transition: opacity 0.3s;
}

.button:hover {
    opacity: 0.5;
    
}

.button--icon-close {
    background-image: url(./icons/icon_close.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
}

.button--icon-search {
    background-image: url(./icons/icon_search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button--icon-burger {
    background-image: url(./icons/menu_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 16px;
}

.button--icon-feedback {
    background-image: url(./icons/feedback_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0;
}

.button--icon-status {
    background-image: url(./icons/status_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 16px;
}

.button--icon-call {
    background-image: url(./icons/call_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
}

.button--icon-message {
    background-image: url(./icons/message_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
}

.button--icon-contacts {
    background-image: url(./icons/contacts_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    padding-left: 24px;
}

.main-menu li {
    margin-bottom: 32px;
}

.main-menu a:hover, .lang-choice a:hover {
    color: #444444;
}

.main-menu a {
    text-decoration: none;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.main-menu .main-menu--active {
    margin-left: -4px;
}

.main-menu .main-menu--active a{
    color: #7E7E82;
}

.main-menu--active::before {
    display: inline-block;
    content: "";
    background: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    width: 4px;
    height: 32px;
    position: relative;
    left: -20px;
    bottom: -10px;;
}

.footer {
    position: absolute;
    bottom: 0;

    padding-left: 24px;
    padding-bottom: 32px;
}

.mail {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;

    margin-top: 16px;
}

.phone {
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: 700;

    margin-top: 12px;
}

.lang-choice {
    margin-top: 40px;
}

.lang-choice a {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;

    text-decoration: none;

    margin-right: 7px;
}

a.lang-choice--active {
    color: #7E7E82;
}