html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*Выравниваю все элементы хедера*/
.header--item {
    margin: auto 16px auto 16px;
}

/*Стилизую кнопки*/
.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: 0;
    padding: 0 0;
}

/*Стилизую лого*/
.logo {
    height: 50px;
    width: 96px;
    margin-left: 0;
    margin-right: 0;
}

/*Стилизую разграничитель*/
.divider {
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1px;
}

.divider + .button {
    margin-left: 0;
}

@font-face {
    font-family: "TT Lakes";
    src: url(/font/TTLakes-Black.eot) format(embedded-opentype),
         url(/font/TTLakes-Black.ttf) format(truetype),
         url(/font/TTLakes-Black.woff) format(woof);
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 320px) {
    /*Стилизую хедер*/
    .header_box{
        display: flex;
        height: 88px;
        background-color: white;
        box-shadow: 0px 1px #D9FFF5;
    }

    /*Фикс разграничителя для экрана 320*/
    .divider {
        margin-left: 16px;
    }


}

@media (min-width: 1000px) {
    
}

@media (min-width: 1400px) {
    
}